:root {
    --color-standard-top: #201863;
    --color-standard-bottom: #321f4e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(var(--color-standard-top), var(--color-standard-bottom));
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

/* Responsividade geral */
header, nav, main, footer {
    width: 100%;
    margin: 0 auto;
}

header {
    /* Estilo da barra */
    width: 100%;
    background: linear-gradient(90deg, #e32403, #ffa500, #e8c400);
    background-size: 300% 100%;
    animation: changeColor 10s ease infinite;
    position: relative;
    overflow: hidden;
}



/* Animação para mudar de cor (da direita para a esquerda) */
@keyframes changeColor {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

/* Animação de brilho */
@keyframes glowing {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.8;
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.logo {
    width: 40px;
    height: 40px;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu > li {
    padding: 15px;
    position: relative;
}

.menu > li > a {
    color: white;
    text-decoration: none;
}

.menu li:hover > .submenu {
    display: flex;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fddc20;
    list-style: none;
    z-index: 1;
}

.submenu li {
    padding: 10px 20px;
}

/* Estilos para o menu hambúrguer */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
}

.hamburger span {
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Menu visível para desktop */
.menu {
    display: flex;
    list-style: none;
}

/* Responsividade - Mostrar o menu hambúrguer em dispositivos móveis */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        padding: 15px;
        border-bottom: 1px solid #fff;
    }

    .menu li a {
        color: white;
    }
}


.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    padding: 10px 0;
    color: white;
}

.marquee {
    white-space: nowrap;
    animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.title-photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 0px 100px;
}

.title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    
}

/* Carrossel */
.carousel-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel img {
    width: 100%;
    display: none;
}

.carousel img.active {
    display: block;
}

.dbv-news{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white; 
    font-size: 40px;
}

.imgnew{
    width: 100%;
    height: 100%;
}

section .txtnews{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 150px;
    color: white;
}

#contact-form {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    /* background-color: #f4f4f4; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

#contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    display: block;
    width: 100%;

    padding: 10px;
    background-color: #e8c400;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #e32403;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-info p, .footer-links a {
    margin: 5px 0;
    font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }

    .title img {
        width: 300px;
    }

    .carousel-container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .menu > li {
        padding: 10px;
    }

    .title h1, .title h2 {
        font-size: 1.2em;
    }

    .footer-info p {
        font-size: 12px;
    }
}
